
body {
  margin: 0;
  background-color: #103257;
  color: azure;
  }
  main{
    margin: 10px;
    text-align: center;
    padding-bottom: 40px;
  }
img {
  width: 30%;
  display: block;
}
a.button {
  background-color: blueviolet;
  border: none;
  color: azure;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
  margin-top: 20px;
}
a{
  color: azure;
}
header {
  background-color: blueviolet;
  width: 100%;
  padding: 5px;
}
nav{
  width: 100%;
  padding: 5px;
}
nav div{
  float: right;
}
nav div a{
  display: inline-block;
  margin-right: 10px;
  padding-right: 5px;
}
.project{
  position: relative;
  margin: 20px auto;
  margin-top: 50px;
  width: 60%;
}
.project img{
  width: 100%;
  border: 2px solid azure;
  /* box-shadow: 10px 10px 5px #FFE8CD; */
}
.project div{
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translateX(-50%);
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5));
  padding: 1.5em;
}
.project div:hover{
  background-color: #ff0061;
}
footer{
  color: azure;
  text-align: center;
  background-color: blueviolet;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}